@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Fraunces', serif; 
}

h2, h3{
    font-family: 'Fraunces', serif;
}

h2:first-of-type{
    margin-left: 45px;
    margin-right: 30px;
}

h2:nth-of-type(2){
    margin-left: 45px;
    margin-right: 45px;
}

li{
    list-style-type: none;
}

p, span{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

section{
    /* padding: 40px 30px; */
    width: 100%;
}

.flex{
    display: flex;
}

.alignCenter{
    text-align: center;
}

.colorDarkGrayishBlue{
   color: hsl(232, 10%, 55%);
}
/* ************************************Section Presentation */
#presentation{
    background: url(../images/mobile/image-header.jpg);
    height: 500px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid fuchsia;
    color: hsl(0, 0%, 100%);
    padding: 40px;
}


.linkContainer img{
    margin-top: 3px;
}

.hidden{
    display: none;
}

.linkNav{
    display: flex;
    justify-content: space-between;
}

.navBarMobile{
    position: absolute;
    top: 120px;
    left: 40px;
    right: 40px;
    height: 18.3%;
    color: hsl(210, 4%, 67%);
    background-color: hsl(0, 0%, 100%);
    font-family: 'Barlow', sans-serif;;
}

.title{
    margin: 15% auto;
    text-align: center;
    letter-spacing: .7rem;
    font-size: 1.2em;
}

.title img{
    margin-top: 27%;
}
/* ****************************************************************Section  Prestation*/
.description{
    padding: 20px;
    
}

.description p{
    padding: 20px 0;
    line-height: 32px;
}

.prestation img{
    width: 100%;
}

.margTop{
    margin-top: -241px;
}
/* **************************************************************Section Testimony */
.testimony{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimony h3{
    font-weight: 900;
    margin: 40px 0 10px;
}

.testimony img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 80px 0px 40px;
}

.testimonys{
    margin-top: 30px;
    padding: 50px 40px 80px;
    border: 2px solid red;
}

.testimonys h3:first-child{
    text-align: center;
    color: hsl(210, 4%, 67%);
    letter-spacing: .1rem;
    margin: 50px 0 10px;
}

.testimonys p{
    color: hsl(213, 9%, 39%);
    line-height: 32px;
    padding-inline: 5px;

}

.testimonys span{
    color: hsl(210, 4%, 67%);
}
/* *************************************************************Section Gallery */

.photos img{
   width: 50%; 
}
/* *************************************************************Footer */
.footer{
    color: hsl(168, 34%, 41%);
    background-color: rgb(159, 211, 197);
    padding: 60px 40px;
    font-family: 'Barlow', sans-serif;
    flex-direction: column;
    align-items: center;
}

.linkFooter li{
    padding-inline: 30px;
}

.linkFooter ul{
    margin: 30px 0 60px;
}

.linkSocialNetWork img{
    margin-inline: 20px;
}



.colours{
    color: hsl(212, 27%, 19%);
    color: hsl(213, 9%, 39%);
    color: hsl(212, 27%, 19%);
    color: hsl(213, 9%, 39%);
    color: hsl(232, 10%, 55%);
    color: hsl(210, 4%, 67%);
    color: hsl(0, 0%, 100%);
}


